[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
pymysql = "*"
django-jazzmin = "*"
django-crispy-forms = "*"
mysql-connector-python = "*"
django-filter = "*"
pillow = "*"
paramiko = "*"
django-cron = "*"

[dev-packages]

[requires]
python_version = "3.10"
