<aside class="main-sidebar sidebar-dark-primary elevation-4">
  <!-- Brand Logo -->

  {% load static %}
  <a href="/" class="brand-link">
    <img
      src='{% static "img/AdminLTELogo.png" %}'
      alt="AdminLTE Logo"
      class="brand-image img-circle elevation-3"
      style="opacity: 0.8"
    />
    <span class="brand-text font-weight-light">Vpn Admin</span>
  </a>

  <!-- Sidebar -->
  <div class="sidebar">
    <!-- Sidebar user panel (optional) -->
    <div class="user-panel mt-3 pb-3 mb-3 d-flex">
      <div class="image">
        <img
          src='{% static "img/user2-160x160.jpg" %}'
          class="img-circle elevation-2"
          alt="User Image"
        />
      </div>
      <div class="info">
        <a href="#" class="d-block"
          >{{User_data.first_name}} {{User_data.last_name}}</a
        >
      </div>
    </div>

    <!-- Sidebar Menu -->
    <nav class="mt-2">
      <ul
        class="nav nav-pills nav-sidebar flex-column"
        data-widget="treeview"
        role="menu"
        data-accordion="false"
      >
        <!-- Add icons to the links using the .nav-icon class
               with font-awesome or any other icon font library -->
        <li class="nav-item has-treeview menu-open">
          <a href="/" class="nav-link active">
            <i class="nav-icon fas fa-tachometer-alt"></i>
            <p>Dashboard</p>
          </a>
        </li>
        {% if User_data.is_admin %}
        <li class="nav-item has-treeview">
          <a href="#" class="nav-link">
            <i class="nav-icon fas fa-copy"></i>
            <p>
              Update View
              <i class="fas fa-angle-left right"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a href="{% url 'Home:update_add' %}" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Update add</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="{% url 'Home:updatelist' %}" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Update List</p>
              </a>
            </li>
          </ul>
        </li>
        {% endif %}

        <li class="nav-item has-treeview">
          <a href="#" class="nav-link">
            <i class="nav-icon fas fa-chart-pie"></i>
            <p>
              Reseller
              <i class="right fas fa-angle-left"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a href="{% url 'Home:reselleradd' %}" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Create Reseller</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="{% url 'Home:resellerlist' %}" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Reseller View</p>
              </a>
            </li>
          </ul>
        </li>

        {% if User_data.is_admin %}
        <li class="nav-item has-treeview">
          <a href="#" class="nav-link">
            <i class="nav-icon">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="16"
                height="16"
                fill="currentColor"
                class="bi bi-clipboard-check-fill"
                viewBox="0 0 16 16"
              >
                <path
                  d="M6.5 0A1.5 1.5 0 0 0 5 1.5v1A1.5 1.5 0 0 0 6.5 4h3A1.5 1.5 0 0 0 11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3Zm3 1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-3a.5.5 0 0 1-.5-.5v-1a.5.5 0 0 1 .5-.5h3Z"
                />
                <path
                  d="M4 1.5H3a2 2 0 0 0-2 2V14a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V3.5a2 2 0 0 0-2-2h-1v1A2.5 2.5 0 0 1 9.5 5h-3A2.5 2.5 0 0 1 4 2.5v-1Zm6.854 7.354-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 0 1 .708-.708L7.5 10.793l2.646-2.647a.5.5 0 0 1 .708.708Z"
                />
              </svg>
            </i>
            <p>
              Membership
              <i class="fas fa-angle-left right"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a href="{% url 'Home:MambershipCreate' %}" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Membership Add</p></a
              >
            </li>
            <li class="nav-item">
              <a href="{% url 'Home:MembershipList' %}" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Membership List</p>
              </a>
            </li>
          </ul>
        </li>
        {% endif %}

        <li class="nav-item has-treeview">
          <a href="#" class="nav-link">
            <i class="nav-icon fas fa-users"></i>
            <p>
              Users
              <i class="fas fa-angle-left right"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a href="{% url 'Home:customercreate' %}" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>User Create</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="pages/UI/icons.html" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Users List</p>
              </a>
            </li>
          </ul>
        </li>

        <li class="nav-item has-treeview">
          <a href="#" class="nav-link">
            <i class="nav-icon fas fa-credit-card"></i>
            <p>
              Transaction
              <i class="fas fa-angle-left right"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a href="pages/layout/top-nav.html" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Add Credit</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="pages/layout/top-nav-sidebar.html" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Transaction List</p>
              </a>
            </li>
          </ul>
        </li>
      </ul>
    </nav>
    <!-- /.sidebar-menu -->
  </div>
  <!-- /.sidebar -->
</aside>
