{% extends "Base.html" %} {% block Base %}

<div class="wrapper">
  <!-- Top Side Bar Block   -->

  {% include "widget/topnav.html" %}

  <!-- Main Sidebar Container -->
  {% include "widget/sidebar.html" %}

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0 text-dark">Reseller Add</h1>
          </div>
          <!-- /.col -->
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Reseller List</a></li>
              <li class="breadcrumb-item active">Dashboard</li>
            </ol>
          </div>
          <!-- /.col -->
        </div>
        <!-- /.row -->
      </div>
      <!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <section class="content">
      <div class="container">
        <form method="post" action='{% url "Home:reselleradd" %}'>
          {% csrf_token %}
          <div class="form-group">
            <label for="exampleInputEmail1">Username</label>
            <input
              type="text"
              class="form-control"
              id="exampleInputEmail1"
              aria-describedby="emailHelp"
              placeholder="Enter Username"
              name="username"
              autocomplete="off"
              required
            />
            {% if error == 'username' %}
            <p id="emailHelp" class="form-text text-danger">
              This Username Already Existing
            </p>
            {% endif %}
          </div>
          <div class="form-group">
            <label for="exampleInputEmail1">First Name</label>
            <input
              type="text"
              class="form-control"
              id="exampleInputEmail1"
              aria-describedby="emailHelp"
              placeholder="Enter First Name"
              name="first_name"
              autocomplete="off"
              required
            />
          </div>
          <div class="form-group">
            <label for="exampleInputEmail1">Last Name</label>
            <input
              type="text"
              class="form-control"
              id="exampleInputEmail1"
              aria-describedby="emailHelp"
              placeholder="Enter Last Name"
              name="last_name"
              autocomplete="off"
              required
            />
          </div>
          <div class="form-group">
            <label for="exampleInputEmail1">Email Address</label>
            <input
              type="email"
              class="form-control"
              id="exampleInputEmail1"
              aria-describedby="emailHelp"
              placeholder="Enter email"
              name="email"
              autocomplete="off"
              required
            />

            {% if error == 'email' %}
            <p id="emailHelp" class="form-text text-danger">
              This Email Already Existing
            </p>
            {% endif %}
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1">Password</label>
            <input
              type="password"
              class="form-control"
              id="exampleInputPassword1"
              placeholder="Password"
              name="password"
              autocomplete="new-password"
              maxlength="6"
              required
            />
          </div>

          <div class="form-group">
            <label for="exampleInputPassword1">Balance</label>
            <input
              type="number"
              class="form-control"
              id="exampleInputPassword1"
              placeholder="Balance"
              name="credit"
              required
            />

            {% if error == 'credit' %}
            <p id="emailHelp" class="form-text text-danger">
              Your account does not have enough Balance
            </p>
            {% endif %}
          </div>
          {% if User_data.is_admin %}
          <div class="form-check">
            <input
              type="checkbox"
              class="form-check-input"
              id="exampleCheck1"
              name="admin_status"
            />
            <label class="form-check-label" for="exampleCheck1">Is admin</label>
          </div>
          {% endif %}

          <div class="pb-5 pt-5">
            <button type="submit" class="btn btn-primary btn-lg">Save</button>
          </div>
        </form>
      </div>
    </section>
    <!-- /.content -->
  </div>
  {% include "widget/footer.html" %}
</div>

{% endblock Base %}
