{% extends "Base.html" %} {% block Base %}

<div class="wrapper">
  <!-- Top Side Bar Block   -->

  {% include "widget/topnav.html" %}

  <!-- Main Sidebar Container -->
  {% include "widget/sidebar.html" %}

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0 text-dark">Server Installer</h1>
          </div>
          <!-- /.col -->
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Server Install</a></li>
              <li class="breadcrumb-item active">Dashboard</li>
            </ol>
          </div>
          <!-- /.col -->
        </div>
        <!-- /.row -->
      </div>
      <!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <section class="content">
      <div class="container">
        <div class="row">
          <div class="col">
            <form action='{% url "Home:ovpnInstall" %}' method="post">
              {% csrf_token %} {{form}}
              <br />
              <input type="submit" class="btn btn-primary" value="Install" />
            </form>
          </div>
          <div class="col-8">
            <table class="table">
              <thead>
                <tr>
                  <th scope="col">NAME</th>
                  <th scope="col">SERVER HOST</th>
                  <th scope="col">USERNAME</th>
                  <th scope="col">PROVIDER</th>
                  <th scope="col">STATUS</th>
                  <th scope="col">ACTION</th>
                </tr>
              </thead>
              <tbody>
                {% for item in server_data %}
                <tr>
                  <td>{{item.name}}</td>
                  <td>{{item.server_host}}</td>
                  <td>{{item.username}}</td>
                  <td>OpenVpn</td>
                  {% if item.status %}
                  <th>Running</th>
                  {% else %}
                  <th>Stop</th>
                  {% endif %}

                  <td class="row">
                    <div class="col">
                      <a
                        class="btn btn-primary"
                        href="{% url 'Home:ovpnreset' id=item.id %}"
                        ><i class="fa-solid fa-rotate-right"></i
                      ></a>
                    </div>
                    <div class="col">
                      {% if item.status %}
                      <a
                        class="btn btn-success"
                        href="{% url 'Home:ovpnstop' id=item.id %}"
                        ><i class="fa-solid fa-stop"></i
                      ></a>

                      {% else %}
                      <a
                        class="btn btn-secondary"
                        href="{% url 'Home:ovpnstart' id=item.id %}"
                        ><i class="fa-solid fa-play"></i
                      ></a>
                      {% endif %}
                    </div>
                    <div class="col">
                      <a
                        class="btn btn-danger"
                        href="{% url 'Home:serverdelete' id=item.id %}"
                        ><i class="fa-solid fa-trash"></i
                      ></a>
                    </div>
                  </td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </section>
    <!-- /.content -->
  </div>
  {% include "widget/footer.html" %}
</div>

{% endblock Base %}
