{% extends "Base.html" %} {% block Base %}

<div class="wrapper">
  <!-- Top Side Bar Block   -->

  {% include "widget/topnav.html" %}

  <!-- Main Sidebar Container -->
  {% include "widget/sidebar.html" %}

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0 text-dark">Reseller List</h1>
          </div>
          <!-- /.col -->
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="/resellerlist/">Reseller List</a></li>
              <li class="breadcrumb-item active">Dashboard</li>
            </ol>
          </div>
          <!-- /.col -->
        </div>
        <!-- /.row -->
      </div>
      <!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <section class="content">
      <div class="container">
        {% if resellerList %}
        <table class="table table-striped">
          <thead>
            <tr>
              <th scope="col">Name</th>
               <th scope="col">Username</th>
              <th scope="col">Email</th>
               <th scope="col">Password</th>
              <th scope="col">Balance</th>
              <th scope="col">Status</th>
              <th scope="col">Action</th>
            </tr>
          </thead>
          <tbody>
            {% for reseller_item in resellerList %}
            {% if reseller_item.username != User_data.username  %}
            <tr>
              <th scope="row">{{reseller_item.first_name}} {{reseller_item.last_name}}</th>
               <td>{{reseller_item.username}}</td>
              <td>{{reseller_item.email}}</td>
               <td>{{reseller_item.passcode}}</td>
              <td>{{reseller_item.credit}}$</td>
            
           <td>
        
          <form action="{% url 'Home:resellerStatus' id=reseller_item.id %}" method="post">
            {% csrf_token %}
             {% if reseller_item.is_active %}
         <button type="submit" name="status" value="1" class="btn btn-success btn-sm">Active</button>
          {% else %}
           <button type="submit" name="status" value="0" class="btn btn-secondary btn-sm">Inactive</button>
          {% endif %}
          </form>
           </td>
            <td>
               <div class="row justify-content-start">
                <div class="col-8"> <a class="btn btn-primary btn-sm" href='{% url "Home:resellerEdit" id=reseller_item.id %}'><span><i class="fas fa-retweet"></i
              >
            </span>Password</a>
            </div>
                <div class="col"> <a class="btn btn-danger btn-sm" href='{% url "Home:resellerdelete" id=reseller_item.id %}'>Delete</a></div>
               </div>
            </a>
            </td>
            </tr>
          {% endif %}
            
            {% endfor %}
          </tbody>
        </table>
        {% endif %}
      </div>
    </section>
    <!-- /.content -->
  </div>
  {% include "widget/footer.html" %}
</div>


{% endblock Base %}
